/* Material 2 Dark: #121212 */
:root {
    --dark-color: #2b2b2b
}
body {
    background-color: var(--dark-color);
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 10px;
}

@media screen and (min-width: 500px) {
    body {
        padding: 0 10vw;
    }    
    h1 {
        font-size: 30px;
    }
}

@media screen and (min-width: 1000px) {
    body {
        padding: 0 20vw;
    }    
}

h1 {
    font-size: 40px;
    text-align: center;
}

#table-input {
    display: flex;
    flex-direction: column;
}

.block {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    align-items: center;
    justify-content: space-between;
}

input {
    border-radius: 4px;
    width: 50px;
    border: 0;
    outline: 0;
    text-align: justify;
    /* padding-left: 3px; */
    padding: 3px
}

button {
    border-radius: 4px;
    border: 0;
    outline: 0;
    background-color: #fff;
}

.calculate-button{
    margin: 10px
}

#calculate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
}

.separator {
    flex-grow: 1;
    min-width: 20px;
}

.res {
    margin: 20px;
}

h3 {
    text-align: center;
}

a {
    color: #fff
}

#navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#navbar *{
    font-size: 1.3em;
    text-decoration: 0;
}